<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.concox.app.ipallow.mapper.IpWhiteListMapper">
    <select id="getIpWhiteListByIp" resultType="Integer" parameterType="String">
    	select count(*)
    	from ip_allow 
    	where ip_addr=#{ip}
    </select>
</mapper>