<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.concox.app.user.mapper.UserInfoMapper">
    <select id="selectMailByUname" resultType="String">
        SELECT mail FROM t_sale_mail WHERE uName = #{uName} LIMIT 1
    </select>

</mapper>