.icon-blank{
	background:url('icons/blank.gif') no-repeat 0 4px;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat 0 4px;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat 0 4px;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat 0 4px;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat 0 4px;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat 0 4px;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat 0 4px;
}
.icon-no{
	background:url('icons/no.png') no-repeat 0 4px;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat 0 4px;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat 0 4px;
}
.icon-search{
	background:url('icons/search.png') no-repeat 0 4px;
}
.icon-print{
	background:url('icons/print.png') no-repeat 0 4px;
}
.icon-help{
	background:url('icons/help.png') no-repeat 0 4px;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat 0 4px;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat 0 4px;
}
.icon-back{
	background:url('icons/back.png') no-repeat 0 4px;
}
.icon-next{
    background:url('icons/next.png') no-repeat 0 4px;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat 0 4px;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat 0 4px;
}
.icon-addicon{
	background:url('icons/addicon.png') no-repeat 0 4px;
}
.icon-bjicon{
	background:url('icons/bjicon.png') no-repeat 0 4px;
}
.icon-delecticon{
	background:url('icons/delecticon.png') no-repeat 0 4px;
}
.icon-dykddicon{
	background:url('icons/dykddicon.png') no-repeat 0 4px;
}
.icon-fpjsicon {
	background:url('icons/fpjsicon .png') no-repeat 0 4px;
}
.icon-fsbjicon{
	background:url('icons/fsbjicon.png') no-repeat 0 4px;
}
.icon-fswxicon{
	background:url('icons/fswxicon.png') no-repeat 0 4px;
}
.icon-fszjicon{
	background:url('icons/fszjicon.png') no-repeat 0 4px;
}
.icon-fszxicon{
	background:url('icons/fszxicon.png') no-repeat 0 4px;
}
.icon-plfszfjicon{
	background:url('icons/plfszfjicon.png') no-repeat 0 4px;
}
.icon-slicon{
	background:url('icons/slicon.png') no-repeat 0 4px;
}
.icon-wlsqicon{
	background:url('icons/wlsqicon.png') no-repeat 0 4px;
}
.icon-wxicon{
	background:url('icons/wxicon.png') no-repeat 0 4px;
}
.icon-xgicon{
	background:url('icons/xgicon.png') no-repeat 0 4px;
}
.icon-xzmbicon{
	background:url('icons/xzmbicon.png') no-repeat 0 4px;
}
.icon-zjicon{
	background:url('icons/zjicon.png') no-repeat 0 4px;
}
.icon-zjjsicon {
	background:url('icons/zjjsicon .png') no-repeat 0 4px;
}
.icon-zxicon{
	background:url('icons/zxicon.png') no-repeat 0 4px;
}
.icon-pficon{
	background:url('icons/pficon.png') no-repeat 0 4px;
}
.icon-daoruicon{
	background:url('icons/daoruicon.png') no-repeat 0 4px;
}
.icon-daochuicon{
	background:url('icons/daochuicon.png') no-repeat 0 4px;
}
.icon-jsqxicon{
	background:url('icons/jsqxicon.png') no-repeat 0 4px;
}
.icon-mlzjicon{
	background:url('icons/mlzjicon.png') no-repeat 0 4px;
}
.icon-pcckicon{
	background:url('icons/pcckicon.png') no-repeat 0 4px;
}
.icon-scwlxqdicon{
	background:url('icons/scwlxqdicon.png') no-repeat 0 4px;
}
.icon-sctbicon{
	background:url('icons/sctbicon.png') no-repeat 0 4px;
}
.icon-payicon{
	background:url('icons/payicon.png') no-repeat 0 4px;
}
.icon-pjicon{
	background:url('icons/pjicon.png') no-repeat 0 4px;
}
.icon-outload{
	background:url('icons/outload.png') no-repeat 0 4px;
}
.icon-alipay{
	background:url('icons/alipay.png') no-repeat 0 4px;
}
.icon-weixinpay{
	background:url('icons/weixinpay.png') no-repeat 0 4px;
}


.icon-allicon{
	background:url('icons/allicon.png') no-repeat 0 4px;
}
.icon-dwxicon{
	background:url('icons/dwxicon.png') no-repeat 0 4px;
}
.icon-dpayicon{
	background:url('icons/dpayicon.png') no-repeat 0 4px;
}
.icon-dzjicon{
	background:url('icons/dzjicon.png') no-repeat 0 4px;
}
.icon-yfhicon{
	background:url('icons/yfhicon.png') no-repeat 0 4px;
}
.icon-dzxicon{
	background:url('icons/dzxicon.png') no-repeat 0 4px;
}
.icon-return{
	background:url('icons/return.png') no-repeat 0 4px;
}